@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('https://www.xtrafondos.com/wallpapers/retrowave-lineas-montanas-3063.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 600px; /* Ajuste de altura para acomodar todos los campos */
    width: 430px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.card-header {
    text-align: center;
    position: relative;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #9032bb;
    cursor: pointer;
    transition: color 0.3s;
}

.social_icon span:hover {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #56008c;
    color: black;
    border: 0;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.remember {
    color: white;
    display: flex;
    align-items: center;
}

.remember input {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 15px;
}

.register_btn {
    color: black;
    background-color: #9032bb;
    width: 100px;
}

.register_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
    text-align: center;
}

.links a {
    margin-left: 4px;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 26px;
    white-space: pre;
}

.icon-container span {
    font-size: 28px;
    margin: 0 5px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.icon-container span:hover {
    color: #ff0000;
}

.form-group.centered {
    text-align: center;
}