

/* Opciones */

.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div1, .div2, .div3, .div4 {
  margin: 0 1.85rem; 
  padding: 1%;
  width: 13rem;
  height: 20rem;
  background-color: #D0D0D0;
}

.arrow-button {
  background-color: #1B061B; 
  color: white; 
  border: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.3rem;
  height: 2.75rem;
  font-weight: bold;
  border-radius: 25px; 
  cursor: pointer; 
}

/* Cuadros de texto */

.TextoDeOpciones1 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.c {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 6rem;
  margin: 0 0 0 10%;
  width: 50rem;
  height: 30rem;
  background-color: #D0D0D0;
  border-top-left-radius: 20rem; 
  border-bottom-left-radius: 20rem;
  justify-content: flex-start;
}

.imgLapton {
  width: 35rem;
  height: 27.1rem;
}

.TextoDeOpciones2 {
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.c2 {
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 0;
  width: 50rem;
  padding: 6rem 4rem 0rem 2rem;
  height: 30rem;
  background-color: #D0D0D0;
  border-top-right-radius: 20rem; 
  border-bottom-right-radius: 20rem;
  justify-content: flex-start;
}

/* Cuadros finales */

.cuadrosContinert {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cuadro {
  width: 30rem;
  height: 37.5rem;
  background-color: #D0D0D0;
  margin: 5%;
  border-radius: 5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgGP {
  width: 15rem;
  height: 15rem;
}

.bMP {
  background-color: #1B061B; 
  color: white; 
  border: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.3rem;
  height: 2.75rem;
  font-weight: bold;
  border-radius: 25px; 
  cursor: pointer; 
}

.imgAP {
  width: 20rem;
  height: 11.5rem;
}

/* Footer */

footer {
  width: 100%;
  height: 7.5rem;
  background-color: #1B061B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RedesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B061B;
}

.R {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #1B061B;
  margin: 1rem 10rem;
  border-radius: 0.7rem;
  position: relative;
}

.R a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.R a .layer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
}

.R a:hover .layer {
  transform: rotate(-30deg) skew(20deg);
}

.R a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 0.7rem;
  transition: all 0.4s;
}

.R a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.R a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.R a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.R a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.R a .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.R a .icon i {
  font-size: 30px;
}

.iconsInt {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B061B;
  border-radius: 25%;
}
