body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #005C53;
  }
  #p{
    font-size: 8dvb;
    color:white;
  }
  #barra{
    display: flex;
    justify-content: center;
  }
  input[type="text"] {

    width: 700px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  
  }
#lista{

  background-color: #333;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color:white;
}
#busqueda{
    height: 400px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

  .Buscar{

    height: 45px;
    width: 110px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-weight: bold;
  }


  .search-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  margin-bottom: 20px;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  background-color: #005C53;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


.faq-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.faq-section h2 {
  margin-bottom: 10px;
}

.faq {
  margin-bottom: 10px;
}

.faq h3 {
  margin: 0;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
}

.faq p {
  display: none;
  margin-top: 5px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
  